@import "../styles";

::ng-deep body {
  margin: 0;
  user-select: none;
  @include background-color;
  overflow-x: hidden;
  overflow-y: scroll;
}

.body {
  width: 70px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.rates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 16px;
  color: white;
}
