@import "../styles";

::ng-deep body {
  margin: 0;
  user-select: none;
  @include background-color;
  overflow-x: hidden;
  overflow-y: scroll;
}

.body {
  width: 400px;
  height: 600px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
