<div class="article" *ngIf="!article.isRead">

  <div class="article-block" (click)="openPage(); changeIsRead(true)">
    <div class="article-block-text">
      <div class="article-header">
        <div class="article-title">
          {{article.title}}
        </div>
        <div class="article-header-mark">
          <div class="mark-read" (click)="changeIsRead(true)"></div>
        </div>
      </div>

      <div class="article-text">
        {{article.text}}
      </div>

      <div class="article-footer">
        <div class="site-icon">
          <img src="{{getSiteIconPath()}}" alt="site-icon">
        </div>
        <div class="article-footer-text">
          {{site}}
        </div>
      </div>
    </div>
  </div>
</div>


