.article {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: #F4F4F4;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.article:hover {
  background-color: #E8E8E8;
}

.article .mark-read {
  visibility: hidden;
  width: 20px;
  height: 20px;
  background-image: url("../../../assets/icons/read-mark.png");
  background-size: cover;

  &:hover {
    background-image: url("../../../assets/icons/read-mark-hover.svg");
  }
}

.article:hover .mark-read {
  visibility: visible;
}

.article-block {
  margin-left: 3%;
  margin-right: 3%;
  height: 100%;
  padding-top: 2%;
}

.article-header {

}

.article-header-mark {
  width: 20px;
  height: 20px;
  margin-left: 5%;
  display: inline-block;
  vertical-align: middle;
}

.article-footer {
  border-top: solid #C4C4C4 thin;
  margin-top: 6px;
  padding-top: 3px;
  padding-bottom: 9px;
  font-weight: 500;
  line-height: 15px;
  font-size: 10px;
}


.article-footer-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
  color: #595959;
}

.site-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.site-icon img {
  width: 100%;
}

.article-text {
  width: 85%;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article-title {
  font-weight: 500;
  font-size: 13px;
  vertical-align: middle;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mark-read {
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

